<html>
    <link rel="stylesheet" href="style.css">

<head>
    <title>
        All Tasks
    </title>
    <style>
            table,th,td {
                border: 1px solid black;
            }
    </style>
</head>
<body>
    <h2> 
        <a href="/">Home</a><br>
        <a href="/listTask">Task List</a><br>
        <a href="/deletetask">Delete Task</a><br>
        <a href="/updatetask">Update Task</a><br>
        <a href="/addNewTask">Add Task</a>             

    </h2>
    <table class="table table-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Level</th>
            <th>State</th>
            <th>Suburb</th>
            <th>Street</th>
            <th>Unit</th>

        </tr>
        <% for(let i=0;i < developerDB.length;i++){%>
            <tr>
                <td>
                    <%=developerDB[i]._id%>
                </td>
                <td>
                    <%=developerDB[i].devname.firstName%>
                </td>
                <td>
                    <%=developerDB[i].devname.lastName%>
                </td>
                <td>
                    <%=developerDB[i].level%>
                </td>
                <td>
                    <%=developerDB[i].address.state%>
                </td>
                <td>
                    <%=developerDB[i].address.suburb%>
                </td>
                <td>
                    <%=developerDB[i].address.street%>
                </td>
                <td>
                    <%=developerDB[i].address.unit%>
                </td>
        <% }%>
            
    </table>
</body>
</html>