<html>
        <head>
                <link rel="stylesheet" href="style.css">
        </head>
<body>
    <h1>Update Task</h1></br>
    <h1>
            <a href="/">Home</a>
            <a href="/addNewTask">Add Task</a>             
            <a href="/updatetask">Update Task</a>
            <a href="/listTask">Task List</a>
            <a href="/deletetask">Delete</a>
    </h1>
    <form action="/updatetaskdata" method="POST">
        ID <input type="text" method="POST" name="id" /> </br>
        New Status <input type="text" method="POST" name="taskstatusnew" /> </br>
        
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>